{% extends "base.html" %}

{%  load crispy_forms_tags  %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
  <div class="container w-75 border-success text-center d-flex flex-column form-style card mb-5 mt-5 shadow p-3 mb-5 bg-body rounded">
    <div class="row">
      <div class="col-md-8 mt-2 offset-md-2 lead">
        <h3><i class="fas fa-hiking"></i> {% trans "Sign Up" %}</h3>
        <p>{% blocktrans %}Welcome to the Hiking Hub.Please Sign up if you do not<br>
          Already have an account? <br> You will need an account to post,like or comment on this site.<br> 
          If you already have an account <br> Then please <strong><a href="{{ login_url }}">Sign In</a></strong>.{% endblocktrans %}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 mt-3 offset-md-2">
        <form class="signup h6" id="signup_form" method="post" action="{% url 'account_signup' %}">
          {% csrf_token %}
          {{ form.as_p }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button class="btn btn-primary mb-2" type="submit">{% trans "Sign Up" %} &raquo;</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}