body {
    background-color: #F9FAFC;
}

.navbar-custom {
    background-color: rgb(56, 56, 56);
}

#socail-footer {
    margin-right: 5px;
    margin-left: 5px;
}

a:hover {
    background-color:rgb(160,160,160);
}

a {
    text-decoration: none;
    color: white;
}
  
#icon-home-green {
    color: green;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 1.2em;
    margin-right: 10px;
}

#icon-home-red {
    color: red;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 1.2em;
    margin-right: 10px;
}

#icon-home-black {
    color: black;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 1.2em;
    margin-right: 10px;
}

#icon-home-grey {
    color: grey;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 1.2em;
    margin-right: 10px;
}

.logo {
    font-family: Lato, sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    color: whitesmoke;
    margin-left: 15px;
    letter-spacing: 1px;
}

.icon-text {
    font-weight: bold;
    text-transform: capitalize;
}

.post-test-color{
    color: green;
    font-weight: bold;
}

.card {
    
    background-color: transparent;
}

.card-title:hover,
.pacard-link {
    color: rgb(39, 198, 39);
}

.card-title{
    color: rgb(33,37,41); 
}

.card-text{
    color: rgb(33,37,41);
}

.image-container {
    position: relative;
}

.author-card  {
    text-align: center;
    background-color: green;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.banner-post {
    background-color: rgb(0,128,0);
    color: white;
    position: relative;
    background-image: linear-gradient(rgb(0,128,0), rgb(48, 244, 48));
}

.banner-image {
    position: relative;
    overflow: hidden;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.edit-post-btn:hover{
    background-color: grey;
}

.delete-post-btn:hover{
    background-color: grey;
}

.post-title {
    margin-top: 15%;
}

.post-authour-date {
    margin-left: 5%;
    color: white;
    text-transform:capitalize;
}

a:link {
    text-decoration: none;
    
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.hero-container {
    height: 100vh;
    background: no-repeat bottom right fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hero-box{
    background-color: rgba(0, 0, 0, 0.6);
    padding-bottom: 10px;
    border-radius: 25px;
    padding-right: 10px;
    padding-left: 2px;
    margin-left: 2px;
    margin-right: 10px;
}

#hero-heading {
    margin-top: 15px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
}

.hero-text {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.delete-post-title{
    color: red;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 10px;
}

.btn-div-delete { 
    margin-top: 20px;
    margin-bottom: 20px;
}

#socail-footer {
    color: black;
}

#about-footer {
   padding-left: 15px;
   text-decoration: none;
}

.heading-about {
    text-align: center;
    margin-top: 10px;
    margin-bottom: -10px;
}

/* Media Queries */

@media screen and (max-width: 767px) {
    .post-title {
        margin-top: 10px;
        margin-bottom: 20px;}
}

