{% extends 'base.html' %}

{% load static %}


{% block content %}

    <div class="container d-flex flex-column min-vh-100">
        <div class="row justify-content-md-center">
            <!-- 403 custom error page -->
            <div class="col-md-6 mt-4 text-center">
                <h1>Access Forbidden</h1>
                <br>
                <h3>WHOOPS You Should Not Be Here,Please Leave Now....</h3>
                <br>
                <div class="btn-div-delete">
                    <a class="btn btn-success edit-post-btn" href="{% url 'home' %}">Exit Now</a>
                </div>
            </div>
        </div>
    </div>
    
{% endblock content %}