{% extends 'base.html' %}

{% load static %}


{% block content %}

    <div class="container log-box">
        <div class="row justify-content-md-center">
            <!-- 404 custom error page -->
            <div class="col-md-6 mt-4 text-center">
                <h1>404 Error</h1>
                <br>
                <h3>Whoops! Something went wrong we are sorry we could not find this page.</h3>
                <br>
                <div class="btn-div-delete">
                    <a class="btn btn-success edit-post-btn" href="{% url 'home' %}">Exit Now</a>
                </div>
            </div>
        </div>
    </div>
    
{% endblock content %}