{% extends 'base.html' %}

{% load static %}


{% block content %}

    <div class="container d-flex flex-column min-vh-100">
        <div class="row justify-content-md-center">
            <!-- 404 custom error page -->
            <div class="col-md-6 mt-4 text-center">
                <h1>404 Error</h1>
                <br>
                <h3>Whoops! Something went wrong we are sorry we could not find this page.</h3>
                <br>
                <div class="btn-div-delete">
                    <a class="btn btn-danger edit-post-btn" href="{% url 'home' %}">Exit Now</a>
                </div>
            </div>
        <div class="row justify-content-md-center">
            <div class="col-md-6 mt-4 text-center">
                <div>
                    <img src="{% static 'images/404_image.jpg' %}"  class="img-fluid" alt="People Hiking">
                </div>
            </div>
        </div>
    </div>
    
{% endblock content %}