{% extends 'base.html' %}

{% load static %}


{% block content %}

    <div class="container log-box">
        <div class="row justify-content-md-center">
            <!-- 5OO custom error page -->
            <div class="col-md-6 mt-4 text-center">
                <h1>500 Error</h1>
                <br>
                <h3>Whoops! Something went wrong an internal error has occured.</h3>
                <br>
            </div>
            <div class="btn-div-delete">
                <a class="btn btn-success edit-post-btn" href="{% url 'home' %}">Exit Now</a>
            </div>
        </div>
    </div>

{% endblock content %}