{% extends "base.html" %}

{% load static %}

{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-4 mt-3">
                    <!-- Image top left of page -->                    
                    <img class="img-fluid"
                    src="{% static 'images/landscape.jpg' %}" alt="pictuer of mountain trail">
                </div>
                <div class="col-md-8">
                    <!-- About Us Content -->
                    <h1 class="heading-about">About Us</h1>
                    <hr>
                    <p class="mt-3 text-justify">
                        Welcome to the Hiking Hub.We have a passion for  hiking and roaming the countryside.
                        During lock down we discoverd a new found love for the great outdoors. So we decided
                        to create a blog so that everyone can enjoy  hiking from the beginner to the advanced.
                        We reguraly post the latest trails and hikes we do and share them online. We give an honest
                        review of our experience and share hints and tips for each hike.<br>
                        We welcome all new members to this hiking community. We look forward to new members shareing posts
                        of thier latest hiking adventuers. 
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row"></div>
            <div class="col mb-3 mt-2">
                <!-- Image Bottom of page -->
                <img class="img-fluid height: auto"
                    src="{% static 'images/hikeing_backpacker.jpg' %}" alt="pictuer of man backpacking">
            </div>
        </div>
    </section>
{%endblock%}