{% extends "base.html" %}

{% load static %}

{% load crispy_forms_tags %}
{% block content %}


<!-- {% if user.is_authenticated %} -->

<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <h4 class="text-center mt-2">Add Blog Post</h4>
            <hr>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-10 mt-3 offset-1 g-0 text-center">
            <form  method="post" enctype="multipart/form-data">
                
                {% csrf_token %}
                {{ form.media}}
                {{ form.as_p }}
                
                <button class="btn btn-secondary right mb-2" type="submit" value="Save">Add Post</button>
            </form>
        </div>
    </div>
</div>

<!-- {% else %}

{% include "not_logged_in_error.html" %}

{% endif %}

{% endblock %} -->