{% extends "base.html" %}

{% load static %}


{% block content %}


<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <h4 class="text-center mt-2">Update Blog Post</h4>
            <hr>
        </div>
    </div>
</div>

<div class="container">
    <div class="row text-center">
        <div class="col-10 mt-3 offset-1 g-0">
            <table>
                <form  method="post" enctype="multipart/form-data">

                    {% csrf_token %}
                    {{ form.media}}
                    {{ form.as_p }}

                    <button class="btn btn-primary right mb-3" type="submit" value="Save">Update Post</button>
                </form>
            </table>
        </div>
        
    </div>
</div>

{% endblock %}